%html
  %head
    %title Favourite Books
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
 
  %body
    #main
      = yield
      
      - if flash[:notice]
      - elsif flash[:warning]